

<form action="/beverages/<%= @beverage.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">

    <h3>Edit Your Beverage</h3><br>
    <input type="text" name="name" value="<%= @beverage.name %>"><br><br>
    <input type="text" name="ingredients" value="<%= @beverage.ingredients %>"><br><br>
    <input type="text" name="size" value="<%= @beverage.size %>"><br><br>
    <input type="submit" value="Submit">

</form>