

<form action="/roasters/<%= @roaster_id %>/beverages/new" method="POST">
    
    <h3>Add Your Beverage</h3><br>
    <input type="text" name="name" placeholder="Beverage Name"><br><br>
    <input type="text" name="ingredients" placeholder="Beverage Ingredients"><br><br>
    <input type="text" name="size" placeholder="Beverage Size"><br><br>
    <input type="submit" value="Submit">

</form>