<h1> <%= @beverage.name %> </h1>
<hr>
<br>
<b> Ingredients: </b><br><br>
<p><%= @beverage.ingredients %></p><br>

<b>Size: </b><br><br>
<p><%= @beverage.size %></p>

<a href="/roasters"><button>Go Back</button></a><br>