

<form action="/roasters" method="POST">
    
    <h3>Add New Roaster</h3><br>
    <input type="text" name="name" placeholder="Roaster Name"><br><br>
    <input type="text" name="address" placeholder="Roaster Address"><br><br>
    <input type="submit" value="Submit">

</form>