<h1>Welcome to Coffee Corner!</h1>

<h3>Please Log In</h3>

<form action="/login" method="POST">
    
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Submit">

</form>
<br><br>

<h4>Don't have an account? <a href="/signup">Sign Up</h4>


